.container,
.container-fluid {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 45px 0;
}

@media (min-width: 768px) {
  .container,
  .container-fluid {
    max-width: 768px;
    padding: 0 32px;
  }
  .section {
    padding: 50px 0;
  }
}

@media (min-width: 1280px) {
  .container,
  .container-fluid {
    max-width: 1280px;
    padding: 0 128px;
  }
  .section {
    padding: 75px 0;
  }
}

@media (min-width: 1280px) {
  .container-fluid {
    padding: 0 64px;
  }
}
