
.scroll-to-top {
    display: flex;
    position: fixed;
    right: 14px;
    bottom: 14px;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: var(--white-background-color);
    border-radius: 50%;
    transition: background-color var(--animation-function);
  }
  
  .scroll-to-top-icon {
      fill: var(--primary-brand-color);
      transition: fill var(--animation-function);
    }
    
    .scroll-to-top:hover,
    .scroll-to-top:focus {
      background-color: var(--primary-brand-color);
    }
    
    .scroll-to-top:hover .scroll-to-top-icon {
      fill: var(--white-background-color);
    }
    
    .scroll-to-top:focus .scroll-to-top-icon {
      fill: var(--white-background-color);
    }