<section class="section about" id="about-us">
  <div class="container about-container">
    <h2 class="section-title about-title">
      About <span class="accent">us</span>
    </h2>
    <p class="text about-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-wrap">
      <ul class="about-list">
        <li class="about-item">
          <h3 class="about-number">01</h3>
          <p class="about-description">Expert, innovative teaching staff</p>
        </li>
        <li class="about-item">
          <h3 class="about-number">02</h3>
          <p class="about-description">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-item">
          <h3 class="about-number">03</h3>
          <p class="about-description">Multicultural learning environment</p>
        </li>
        <li class="about-item">
          <h3 class="about-number">04</h3>
          <p class="about-description">
            Comprehensive language support services
          </p>
        </li>
      </ul>
      <div class="about-emoji">
        <img src="./img/about-girl.png" alt="smilling emoji" />
      </div>
    </div>
  </div>
</section>
