<section class="section about" id="about-us">
  <div class="container about-container">
    <h2
      class="section-title"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
    >
      About <span class="accent">us</span>
    </h2>
    <p
      class="section-description"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-delay="100"
    >
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-wrap">
      <ul class="about-list">
        <li
          class="about-item"
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
        >
          <h3 class="about-number">01</h3>
          <p class="about-description">Expert, innovative teaching staff</p>
        </li>
        <li
          class="about-item"
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-delay="100"
        >
          <h3 class="about-number">02</h3>
          <p class="about-description">
            Wide range of course levels and options
          </p>
        </li>
        <li
          class="about-item"
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-delay="200"
        >
          <h3 class="about-number">03</h3>
          <p class="about-description">Multicultural learning environment</p>
        </li>
        <li
          class="about-item"
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-delay="400"
        >
          <h3 class="about-number">04</h3>
          <p class="about-description">
            Comprehensive language support services
          </p>
        </li>
      </ul>
      <div
        class="about-emoji"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="100"
      >
        <picture>
          <source
            srcset="./img/about-girl.webp 1x, ./img/about-girl@2x.webp 2x"
          />
          <img src="./img/about-girl.webp" alt="smilling emoji" />
        </picture>
      </div>
    </div>
  </div>
</section>
