<section class="feedback section" id="feedback">
  <div class="container">
    <h2 class="visually-hidden">Feedback</h2>
    <p class="feedback-title">
      What our <span class="feedback-element">students</span> say
    </p>
    <p class="feedback-subtitle">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div class="feedback-box">
      <ul class="feedback-list">
        <li class="feedback-item">
          <div class="feedback-wrapper">
            <picture>
              <source
                srcset="./img/anna-student.png 1x, ./img/anna-student@2x.png 2x"
              />
              <img
                class="feedback-image"
                src="./img/anna-student.png"
                alt="photo of the student Anna"
                width="50"
                height="50"
              />
            </picture>
            <div class="feedback-wrapp">
              <h3 class="feedback-headline">Anna</h3>
              <p class="feedback-desc">Student</p>
            </div>
          </div>
          <p class="feedback-text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="feedback-item feedback-hidden-1">
          <div class="feedback-wrapper">
            <picture>
              <source
                srcset="
                  ./img/mykhailo-student.png    1x,
                  ./img/mykhailo-student@2x.png 2x
                "
              />
              <img
                class="feedback-image"
                src="./img/mykhailo-student.png"
                alt="photo of the student Mykhailo"
                width="50"
                height="50"
              />
            </picture>
            <div class="feedback-wrapp">
              <h3 class="feedback-headline">Mykhailo</h3>
              <p class="feedback-desc">Student</p>
            </div>
          </div>
          <p class="feedback-text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="feedback-item feedback-hidden-2">
          <div class="feedback-wrapper">
            <picture>
              <source
                srcset="
                  ./img/victoria-student.png    1x,
                  ./img/victoria-student@2x.png 2x
                "
              />
              <img
                class="feedback-image"
                src="./img/victoria-student.png"
                alt="photo of the student Victoria"
                width="50"
                height="50"
              />
            </picture>
            <div class="feedback-wrapp">
              <h3 class="feedback-headline">Victoria</h3>
              <p class="feedback-desc">Student</p>
            </div>
          </div>
          <p class="feedback-text">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
