<footer class="footer-section" id="footer">
  <div class="container footer-section-container">
    <div class="footer-top-container">
      <div class="footer-top-container-left">
        <div class="footer-logo-contacts-container">
          <a aria-label="Logo" class="logo footer-logo" href="./index.html"
            >english<span class="logo-accent">excellence</span>.</a
          >
          <div class="footer-contacts">
            <div class="footer-telephone">
              <p class="footer-p-text footer-tel-text">Phone number:</p>
              <a
                aria-label="Mobile Phone"
                class="footer-telephone-link"
                href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </div>
            <div class="footer-address">
              <p class="footer-p-text footer-address-text">Address:</p>
              <p>
                <a
                  aria-label="Address"
                  class="footer-address-link"
                  href="https://www.google.com/maps/place/32a+M.+Bazhana+ave"
                  target="_blank"
                  >32a M. Bazhana ave</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="footer-nav-container">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <button
                aria-label="Modal Open Button"
                class="footer-nav-link"
                type="button"
                data-modal-open
              >
                About us
              </button>
            </li>
            <li class="footer-nav-item">
              <a
                aria-label="Our Lessons"
                class="footer-nav-link"
                href="#lessons"
                >Our lessons</a
              >
            </li>
            <li class="footer-nav-item">
              <a aria-label="Teachers" class="footer-nav-link" href="#teachers"
                >Teachers</a
              >
            </li>
            <li class="footer-nav-item">
              <a aria-label="Reviews" class="footer-nav-link" href="#reviews"
                >Reviews</a
              >
            </li>
            <li class="footer-nav-item">
              <a aria-label="Contact Us" class="footer-nav-link" href="#form"
                >Contact us</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-sm-container">
        <ul class="footer-sm-list">
          <li class="header-social-item">
            <a
              aria-label="Facebook"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="header-social-link footer-social-link"
              ><svg
                class="social-icon footer-social-icon"
                width="26"
                height="26"
              >
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-item">
            <a
              aria-label="Instagram"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="header-social-link footer-social-link"
              ><svg
                class="social-icon footer-social-icon"
                width="26"
                height="26"
              >
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-item">
            <a
              aria-label="YouTube"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="header-social-link footer-social-link"
              ><svg
                class="social-icon footer-social-icon"
                width="26"
                height="26"
              >
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-endline-container">
      <div class="footer-english-excellense">
        <p class="footer-p-text">
          ©2023 English Excellence. All rights reserved.
        </p>
      </div>
      <div class="footer-privacy-items">
        <ul class="footer-privacy-terms-list">
          <li class="footer-p-text">
            <a
              aria-label="Privacy Policy"
              class="footer-privacy-link"
              href="./index.html"
              >Privacy Policy</a
            >
          </li>
          <li class="footer-p-text">
            <a
              aria-label="Terms of Service"
              class="footer-terms-link"
              href="./index.html"
              >Terms of Service</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
