<section class="section appointment" id="form">
  <div class="container">
    <h2 class="section-title">Leave an <span class="accent">application</span></h2>
    <p class="section-description">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>

    <div class="application-container">
      <div class="application-image-container">
        <img src="../img/girl.jpg">
        <div class="application-supporting-text">
          <h3>1000</h3>
          <p>
            of our online English language lessons! This journey has been full of discovery, growth and unforgettable moments, and we are happy to share this joyful event with you.
          </p>
        </div>
      </div>

      <div class="application-form-container">
        <form class="form">
          <label>
            <input type="text" placeholder="Name" />
          </label>
          <label>
            <input type="email" placeholder="Email" />
          </label>
          <label>
            <input type="tel" placeholder="Phone" />
          </label>
          <label>
            <textarea rows="3" placeholder="Comment"></textarea>
          </label>

          <div class="teacher-container">
            <p class="teacher-label">Choose a teacher</p>
            <div class="teacher-checkbox-container">
              <label>
                <input type="radio" name="teacher" value="maria" checked />
                Maria
              </label>
              <label>
                <input type="radio" name="teacher" value="artem" />
                Artem
              </label>
              <label>
                <input type="radio" name="teacher" value="ilona" />
                Ilona
              </label>
              <label>
                <input type="radio" name="teacher" value="volodymyr" />
                Volodymyr
              </label>
            </div>
          </div>

          <button type="submit" class="button">Send</button>
          <p class="submit-info">
            By clicking on "Send" button, you agree to our <a href="#">Privacy Policy</a>, and allow Promodo to use this information for marketing purposes.
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
