<header class="header-section js-header">
  <div class="container header-container">
    <a aria-label="Index" class="logo" href="./index.html"
      >english<span class="logo-accent">excellence</span>.</a
    >
    <nav class="main-navigation">
      <ul class="site-nav">
        <li class="nav-item">
          <a aria-label="About Us" class="nav-link current" href="#about-us"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a aria-label="Our Lessons" class="nav-link" href="#lessons"
            >Our lessons</a
          >
        </li>
        <li class="nav-item">
          <a aria-label="Teachers" class="nav-link" href="#teachers"
            >Teachers</a
          >
        </li>
        <li class="nav-item">
          <a aria-label="Reviews" class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a aria-label="Contact Us" class="nav-link" href="#form"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-social">
      <li class="header-social-item">
        <a
          aria-label="Facebook"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="header-social-link"
          ><svg class="social-icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          aria-label="Instagram"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="header-social-link"
          ><svg class="social-icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          aria-label="YouTube"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="header-social-link"
          ><svg class="social-icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      aria-label="Toggle Menu Button"
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-icon">
        <use href="./img/icons.svg#mobile-menu-icon"></use>
      </svg>
      <svg class="tablet-menu-icon">
        <use href="./img/icons.svg#tablet-menu-icon"></use>
      </svg>
    </button>
  </div>
</header>
