<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-box">
      <h1
        class="hero-title"
        data-aos="fade-right"
        data-aos-anchor-placement="bottom-bottom"
      >
        Discover the joy of learning
        <span class="title-highlight">English</span> with us!
      </h1>
      <a
        href="#form"
        class="hero-btn"
        aria-label="link to the contact us section"
        data-aos="fade-right"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="100"
      >
        Leave an application
      </a>
    </div>
    <a
      href="#footer"
      class="down-anchor"
      aria-label="link to the page down"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-delay="200"
    >
      <svg class="down-anchor-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-down-arrow"></use>
      </svg>
    </a>
  </div>
</section>
