<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-box">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="title-highlight">English</span> with us!
      </h1>
      <a
        href="#form"
        class="hero-btn"
        aria-label="link to the contact us section"
      >
        Leave an application
      </a>
    </div>
    <a href="#footer" class="down-anchor" aria-label="link to the page down">
      <svg class="down-anchor-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-down-arrow"></use>
      </svg>
    </a>
  </div>
</section>
