<section class="section lesson-section" id="lessons">
  <div class="container">
    <h2
      class="section-title"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
    >
      Our <span class="accent">lessons</span>
    </h2>
    <p
      class="section-description"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-delay="100"
    >
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
    <ul class="lesson-subscription">
      <li
        class="subscription-plan"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="100"
      >
        <h3 class="subscription-plan-name">Practice</h3>
        <p class="subscription-plan-price">40$ / month</p>
        <p class="subscription-plan-about">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a class="button" href="#form">Leave an application</a>
      </li>
      <li
        class="subscription-plan"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <h3 class="subscription-plan-name">Standard</h3>
        <p class="subscription-plan-price">70$ / month</p>
        <p class="subscription-plan-about">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a class="button" href="#form">Leave an application</a>
      </li>
      <li
        class="subscription-plan"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="200"
      >
        <h3 class="subscription-plan-name">Individual</h3>
        <p class="subscription-plan-price">99$ / month</p>
        <p class="subscription-plan-about">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a class="button" href="#form">Leave an application</a>
      </li>
    </ul>
  </div>
</section>
