<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="modal-close-icon">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="mobile-menu-container">
    <ul class="mobile-menu">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="./index.html">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="./index.html">Our lessons</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="./index.html">Teachers</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="./index.html">Reviews</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="./index.html">Contact us</a>
      </li>
    </ul>
  </div>
  <ul class="mobile-menu-social">
    <li class="mobile-menu-social-item">
      <a
        href="https://www.facebook.com/"
        target="_blank"
        class="mobile-menu-social-link"
        ><svg class="social-icon">
          <use href="./img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social-item">
      <a
        href="https://instagram.com/"
        target="_blank"
        class="mobile-menu-social-link"
        ><svg class="social-icon">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social-item">
      <a
        href="https://www.youtube.com/"
        target="_blank"
        class="mobile-menu-social-link"
        ><svg class="social-icon">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
