<div class="menu-container js-menu-container" id="mobile-menu">
  <button
    aria-label="Menu Toggle"
    type="button"
    class="menu-toggle js-close-menu"
  >
    <svg class="modal-close-icon">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="mobile-menu-container">
    <ul class="mobile-menu">
      <li class="mobile-menu-item">
        <a aria-label="About Us" class="mobile-menu-link" href="#about-us"
          >About us</a
        >
      </li>
      <li class="mobile-menu-item">
        <a aria-label="Our Lessons" class="mobile-menu-link" href="#lessons"
          >Our lessons</a
        >
      </li>
      <li class="mobile-menu-item">
        <a aria-label="Teachers" class="mobile-menu-link" href="#teachers"
          >Teachers</a
        >
      </li>
      <li class="mobile-menu-item">
        <a aria-label="Reviews" class="mobile-menu-link" href="#reviews"
          >Reviews</a
        >
      </li>
      <li class="mobile-menu-item">
        <a aria-label="Contact Us" class="mobile-menu-link" href="#form"
          >Contact us</a
        >
      </li>
    </ul>
  </div>
  <ul class="mobile-menu-social">
    <li class="mobile-menu-social-item">
      <a
        aria-label="Facebook"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        class="mobile-menu-social-link"
        ><svg class="social-icon">
          <use href="./img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social-item">
      <a
        aria-label="Instagram"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        class="mobile-menu-social-link"
        ><svg class="social-icon">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social-item">
      <a
        aria-label="YouTube"
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
        class="mobile-menu-social-link"
        ><svg class="social-icon">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<div class="menu-backdrop js-menu-backdrop"></div>
