<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="btn-close" type="button" data-modal-close>
            <span>&times;</span>
        </button>
      <section>
        <h3 class="section-title modal-title"> Our <span class="accent">team</span></h3>
        <ul class="gallery">
            <li class="gallery-item">
                <img src="./img/team/ПодпорінаНіна.jpg" alt="Фото 3" width="150" height="150">
                <h4 class="caption">Podporina Nina</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/КириловаОльга.jpg" alt="Фото 4" width="150" height="150">
                <h4 class="caption">Kyryllova Olga</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/yaroslavChmyr.jpeg" alt="Фото 5" width="150" height="150">
                <h4 class="caption">Chmyr Yaroslav</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/VladVorobei.jpg" alt="Фото 6" width="150" height="150">
                <h4 class="caption">Vorobei Vlad</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/AntonKolvakh.png" alt="Фото 7" width="150" height="150">
                <h4 class="caption">Kolvakh Anton</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/IevgenTymoshenko.JPEG" alt="Фото 8" width="150" height="150">
                <h4 class="caption">Tymoshenko Ievgen</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/OleksnderGizatulin.jpg" alt="Фото 9" width="150" height="150">
                <h4 class="caption">Gizatulin Oleksnder</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/YakymovychRoman.jpeg" alt="Фото 10" width="150" height="150">
                <h4 class="caption">Yakymovych Roman</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/OlesiaVisotina.png" alt="Фото 10" width="150" height="150">
                <h4 class="caption">Vysotina Olesia</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/IMG_1429.jpg" alt="Фото 10" width="150" height="150">
                <h4 class="caption">Shvetsova Kateryna</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/OleksandrHolodetskyi.jpg" alt="Фото 10" width="150" height="150">
                <h4 class="caption">Holodetskyi Oleksandr</h4>
            </li>
            <li class="gallery-item">
                <img src="./img/team/IhorVitkovsyi.png" alt="Фото 10" width="150" height="150">
                <h4 class="caption">Vitkovskyi Ihor</h4>
            </li>
        </ul>   
      </section>
        
    </div>
</div>