<div class="section package">
  <div class="container container-fluid">
    <h2 class="hidden">Proposal to leave an application</h2>
    <div class="proposal">
      <h2
        class="title-package"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        Master the <span class="accent">Language</span> with Our English
        Package!
      </h2>
      <div class="proposal-card">
        <div class="proposal-card-backdrop">
          <h3
            class="proposal-card-title"
            data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-delay="100"
          >
            Power of English
          </h3>
          <ul class="proposal-list">
            <li
              data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom"
              data-aos-delay="100"
            >
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </li>
            <li
              data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom"
              data-aos-delay="200"
            >
              Learn in a nurturing setting where every student's progress
              matters.
            </li>
            <li
              data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom"
              data-aos-delay="300"
            >
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </li>
          </ul>
          <a
            href="#form"
            class="button proposal-button"
            data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-delay="400"
          >
            Leave an application
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
