<section class="section" id="teachers">
        <div class="container">
            <h2 class="our-teachers-title">Meet our teachers</h2>
            <p>Discover our team of dedicated educators, committed to guiding you on your journey to English proficiency with personalized and engaging instruction</p>
            <ul class="our-teachers-list">
                <li class="our-teachers-item">
                    <img class="our-teachers-img" src="../img/" alt="Product Designer" width="264" height="260" />
                    <div class="teachers_container">
                        <h3 class="our-teachers-name">Maria</h3>
                        <p class="our-teachers-p">A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience to every class</p>
                    </div>
                </li>
            </ul>
            <ul class="our-teachers-list">
                <li class="our-teachers-item">
                    <img class="our-teachers-img" src="./images/img.png" alt="Product Designer" width="264" height="260" />
                    <div class="teachers_container">
                        <h3 class="our-teachers-name">Artem</h3>
                        <p class="our-teachers-p">With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students engaged and motivated</p>
                    </div>
                </li>
            </ul>
            <ul class="our-teachers-list">
                <li class="our-teachers-item">
                    <img class="our-teachers-img" src="./images/img.png" alt="Product Designer" width="264" height="260" />
                    <div class="teachers_container">
                        <h3 class="our-teachers-name">Ilona</h3>
                        <p class="our-teachers-p">A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in complex language tasks</p>
                    </div>
                </li>
            </ul>
            <ul class="our-teachers-list">
                <li class="our-teachers-item">
                    <img class="our-teachers-img" src="./images/img.png" alt="Product Designer" width="264" height="260" />
                    <div class="teachers_container">
                        <h3 class="our-teachers-name">Volodymyr</h3>
                        <p class="our-teachers-p">Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and industry-specific language needs</p>
                    </div>
                </li>
            </ul>
        </div>
</section>
