<section class="section our-teachers" id="teachers">
  <div class="container">
    <h2
      class="section-title"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
    >
      Meet our <span class="accent">teachers</span>
    </h2>
    <p
      class="section-description"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
    >
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teacher">
      <li
        class="teacher-item"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <img
          class="teachers-img"
          src="./img/maria.jpg"
          srcset="./img/maria@2x.jpg 2x"
          alt="Maria`s photo"
          width="150"
        />
        <h3 class="teacher-name">Maria</h3>
        <p class="teacher-description">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li
        class="teacher-item"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="100"
      >
        <img
          class="teachers-img"
          src="./img/artem.jpg"
          srcset="./img/artem@2x.jpg 2x"
          alt="Artem`s photo"
          width="150"
        />
        <h3 class="teacher-name">Artem</h3>
        <p class="teacher-description">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li
        class="teacher-item"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="200"
      >
        <img
          class="teachers-img"
          src="./img/ilona.jpg"
          srcset="./img/ilona@2x.jpg 2x"
          alt="Ilona`s photo"
          width="150"
        />
        <h3 class="teacher-name">Ilona</h3>
        <p class="teacher-description">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li
        class="teacher-item"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="300"
      >
        <img
          class="teachers-img"
          src="./img/volodymyr.jpg"
          srcset="./img/volodymyr@2x.jpg 2x"
          alt="Volodymyr`s photo"
          width="150"
        />
        <h3 class="teacher-name">Volodymyr</h3>
        <p class="teacher-description">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
