    <section class="our-teachers" id="teachers">
        <div class="main-div">
        <!-- <h1>
            Meet our <span class="text"> teachers<div class="green-background"></div></span>
        </h1> -->
        <h2>
            Meet our <span class="text">teachers</span>
            <div class="green-background"></div>
        </h2>
        <p class="block-description">Discover our team of dedicated educators, committed to guiding you on your journey <br> to English proficiency with personalized and engaging instruction</p>
        <section class="our-teachers" id="teachers">
                <ul class="teacher">
                    <li>
                        <img class="teachers-img" src="./img/maria.jpg" srcset="./img/maria@2x.jpg 2x" alt="Maria`s photo" width="150" />
                        <h3 class="teacher-name">Maria</h3>
                        <p class="teacher-description">A seasoned linguist and our <br> primary specialist in beginner- <br>level instruction, Maria brings <br> warmth and patience to every <br> class</p>
                    </li>
                </ul>
                <ul class="teacher">
                    <li>
                        <img class="teachers-img" src="./img/artem.jpg" srcset="./img/artem@2x.jpg 2x" alt="Artem`s photo" width="150"/>
                        <h3 class="teacher-name">Artem</h3>
                        <p class="teacher-description">With his innovative teaching <br> techniques and a focus on <br> interactive learning, Artem <br> excels in keeping students <br> engaged and motivated</p>
                    </li>
                </ul>
                <ul class="teacher">
                    <li>
                        <img class="teachers-img" src="./img/ilona.jpg" srcset="./img/ilona@2x.jpg 2x" alt="Ilona`s photo" width="150"/>
                        <h3 class="teacher-name">Ilona</h3>
                        <p class="teacher-description">A specialist in advanced <br> English, Ilona provides <br> intensive instruction, ensuring <br> students gain confidence in <br> complex language tasks</p>
                    </li>
                </ul>
                <ul class="teacher">
                    <li>
                        <img class="teachers-img" src="./img/volodymyr.jpg" srcset="./img/volodymyr@2x.jpg 2x" alt="Volodymyr`s photo" width="150"/>
                        <h3 class="teacher-name">Volodymyr</h3>
                        <p class="teacher-description"> Our expert in English for <br> specific purposes, Volodymyr <br> tailors his approach to meet <br> individual career and industry- <br>specific language needs</p>
                    </li>
                    </div>
                </ul>
        </section>
   

